services:
  zookeeper:
    container_name: zookeeper
    image: bitnami/zookeeper:latest
    restart: unless-stopped
    env_file:
      - .env-example
    environment:
      ZOOKEEPER_SERVER_ID: 1
      ZOOKEEPER_LISTENER_PORT: ${ZK_PORT}
      ALLOW_ANONYMOUS_LOGIN: "yes"
    ports:
      - ${ZK_PORT}:${ZK_PORT}
    networks:
      - auth_network

  kafka:
    container_name: kafka
    image: bitnami/kafka:3.3.2 # Used old version of Kafka to stabilize work with Zookeeper
    restart: unless-stopped
    env_file:
      - .env-example
    depends_on:
      - zookeeper
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: "zookeeper:${ZK_PORT}"
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: INTERNAL:PLAINTEXT,EXTERNAL:PLAINTEXT
      KAFKA_LISTENERS: INTERNAL://:29092,EXTERNAL://:9092
      KAFKA_ADVERTISED_LISTENERS: INTERNAL://kafka:29092,EXTERNAL://localhost:9092
      KAFKA_INTER_BROKER_LISTENER_NAME: INTERNAL
      KAFKA_LISTENER_NAMES: INTERNAL,EXTERNAL
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      ALLOW_PLAINTEXT_LISTENER: "yes"
      KAFKA_LOG4J_LOGGERS: "kafka.controller=INFO,kafka.producer.async.DefaultEventHandler=INFO,state.change.logger=INFO"
      KAFKA_ZOOKEEPER_SESSION_TIMEOUT: "6000"
      KAFKA_RESTART_ATTEMPTS: "10"
      KAFKA_RESTART_DELAY: "5"
    ports:
      - ${KAFKA_PORT}:${KAFKA_PORT}
    volumes:
      - kafka_data:/bitnami/kafka
    networks:
      - auth_network

  postgres:
    container_name: postgres
    image: postgres:17.4-alpine3.20
    restart: unless-stopped
    env_file:
      - .env-example
    environment:
      - POSTGRES_DB=${DB_NAME}
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
    ports:
      - ${DB_PORT}:${DB_PORT}
    volumes:
      - pg_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB}"]
      interval: 5s
      timeout: 5s
      retries: 10
    networks:
      - auth_network

  keycloak:
    container_name: keycloak
    image: quay.io/keycloak/keycloak:26.1.0
    restart: unless-stopped
    env_file:
      - .env-example
    environment:
      - KC_DB=${DB_NAME}
      - KC_DB_URL_HOST=postgres
      - KC_DB_URL_DATABASE=${DB_NAME}
      - KC_DB_USERNAME=${DB_USER}
      - KC_DB_PASSWORD=${DB_PASSWORD}
      - KC_HOSTNAME=localhost
      - KC_BOOTSTRAP_ADMIN_USERNAME=${KC_USERNAME}
      - KC_BOOTSTRAP_ADMIN_PASSWORD=${KC_PASSWORD}
    ports:
      - ${KC_LOCAL_PORT}:${KC_CONTAINER_PORT}
    command: start-dev
    depends_on:
      - redis
      - postgres
    networks:
      - auth_network

  redis:
    container_name: redis
    image: redis:latest
    restart: unless-stopped
    env_file:
      - .env-example
    ports:
      - ${RS_PORT}:${RS_PORT}
    volumes:
      - redis_data:/data/cache
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 5s
      retries: 10
    networks:
      - auth_network

volumes:
  pg_data:
    driver: local
  redis_data:
    driver: local
  kafka_data:
    driver: local

networks:
  auth_network:
    driver: bridge
